<table>
  <thead *ngFor="let item of items">
    <tr class="starred-list" *ngIf="starItems.indexOf(item.id) > -1">
      <td>
        <i class="material-icons ">{{item['.tag'] === 'file' ? 'insert_drive_file' : 'folder'}}</i>
      </td>
      <td class="table-file " *ngIf="item[ '.tag']==='file' ">{{item.name}}</td>
      <td class="table-folder " *ngIf="item[ '.tag']==='folder' " routerLink="{{item.path_lower}} ">{{item.name}}</td>
      <td>{{item['.tag'] === 'file' ? formatFileSize(item.size) : ''}}</td>
      <td>{{item['.tag'] === 'file' ? formatDateTime(item.server_modified) : ''}}</td>
      <td>
        <i class="material-icons star-icon " (click)="starItem(item.id) ">
          {{starItems.indexOf(item.id)
          < 0 ? 'star_border' : 'star'}} </i>
      </td>
      <td class="download-icon ">
        <i class="material-icons download-icon " (click)="saveFile(item.id, item.name) ">{{item['.tag'] === 'file' ? 'cloud_download' : ''}}</i>
      </td>
    </tr>
  </thead>
  <tbody *ngFor="let item of items">
    <tr *ngIf="starItems.indexOf(item.id) === -1">
      <td>
        <i class="material-icons ">{{item['.tag'] === 'file' ? 'insert_drive_file' : 'folder'}}</i>
      </td>
      <td class="table-file " *ngIf="item[ '.tag']==='file' ">{{item.name}}</td>
      <td class="table-folder " *ngIf="item[ '.tag']==='folder' " routerLink="{{item.path_lower}} ">{{item.name}}</td>
      <td>{{item['.tag'] === 'file' ? formatFileSize(item.size) : ''}}</td>
      <td>{{item['.tag'] === 'file' ? formatDateTime(item.server_modified) : ''}}</td>
      <td>
        <i class="material-icons star-icon " (click)="starItem(item.id) ">
          {{starItems.indexOf(item.id)
          < 0 ? 'star_border' : 'star'}} </i>
      </td>
      <td class="download-icon ">
        <i class="material-icons download-icon " (click)="saveFile(item.id, item.name) ">{{item['.tag'] === 'file' ? 'cloud_download' : ''}}</i>
      </td>
    </tr>
  </tbody>
</table>