.displayItems {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.displayItems li {
    display: flex;
    font-size: 16px;
    height: 40px;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
    cursor: pointer;
    transition: 200ms ease;
}

.displayItems li:hover {
    background-color: #eee;
}

.item-icon {
    flex: 0 0 10px;
    background-color: green;
    padding: 6px 0 6px 10px;
}

.item-name {
    flex: 0 0 100px;
    background-color: red;
    padding: 10px;
}

.item-modified {
    flex: 6;
    text-align: right;
    padding: 10px;
}

.item-size {
    flex: 0 0 100px;
    background-color: blue;
    padding: 10px;
}

.item-star {}

table {
    border-collapse: collapse;
    width: 100%;
}

td {
    text-align: left;
    padding: 12px 0;
    outline: none;
}

/* td:nth-child(2):hover {
    cursor: pointer;
    color: #5d8ffc;
} */

td:first-child {
    width: 25px;
    padding: 12px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.material-icons {
    color: #555;
}

.download-icon, .star-icon, .table-folder {
    cursor: pointer;
    transition: 200ms ease;
}

.download-icon:hover, .table-folder:hover {
    color: #5d8ffc;
}

.star-icon:hover {
    color: gold;
}