/* Datalist items styles */

.item {
    display: flex;
    padding: 10px;
    border-bottom: 1px solid #eee;
}

.item:hover {
    background-color: #eee;
}

.item-icon {
    text-align: center;
    flex: 0 0 40px;
}

.item-name {
    flex: 0 0 300px;
    line-height: 25px;
    outline: none;
}

.item-name-folder {
    flex: 0 0 300px;
    line-height: 25px;
    outline: none;
    cursor: pointer;
}

.item-size {
    flex: 0 0 100px;
    line-height: 25px;
}

.item-modified {
    flex: 0 0 160px;
    line-height: 25px;
}

.item-star {
    text-align: center;
    flex: 0 0 40px;
}

.item-download {
    text-align: center;
    flex: 0 0 40px;
}

/* Icons Styles */

.material-icons {
    color: #555;
}

.star-filled {
    color: #5d8ffc;
}

.download-icon, .star-empty, .star-filled {
    cursor: pointer;
    transition: 200ms ease;
}

.download-icon:hover, .star-empty:hover {
    color: #5d8ffc;
}