#login-container {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 400px;
    height: 200px;
    margin: 0 auto;
    box-sizing: border-box;
    margin-top: 15vh;
    /* padding: 25px; */
}

#login-container .header {
    background-color: #5d8ffc;
    height: 50px;
    padding: 0 15px;
    color: #fff;
    text-align: center;
    font-size: 28px;
    line-height: 50px;
    margin-bottom: 50px;
}

#login-container button {
    display: block;
    margin: 0 auto;
    background: #5d8ffc;
    background: #fff;
    color: #5d8ffc;
    border: 1px solid #5d8ffc;
    width: 200px;
    padding: 15px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    margin-bottom: 15px;
}

#login-container button:hover {
    background: #5d8ffc;
    color: #fff;
    border: 1px solid #5d8ffc;
    cursor: pointer;
}