.left {
    width: 60px;
    text-align: left;
    line-height: 50px;
}

.left a {
    cursor: pointer;
    color: #fff;
}

.left img {
    display: inline-block;
    vertical-align: middle;
}

.left span {
    font-size: 16px;
    vertical-align: middle;
}